* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background: #fff;
  color: #000;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
